$color-white: rgb(255, 255, 255)
$color-gray: rgb(200, 200, 200)
$color-black: rgb(0, 0, 0)
$color-primary: rgb(189, 19, 98)
    
header
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    background-color: $color-white
    box-shadow: 15rem 1px 10px $color-gray
    height: 9vh
    z-index: 9

    .logo
        display: flex
        align-items: center
        color: $color-primary

        .iconGradutionCap
            margin-left: 2rem
            height: 2.5rem
            width: 2.5rem

        .nameLogo
            margin-left: 0.5rem
            font-size: 1.5rem
            font-weight: 600

    .navHeader
        margin-right: 2rem

        ul
            list-style-type: none
            display: flex

            li
                margin: 1rem

                .link
                    color: $color-black
                    text-decoration: none
                    letter-spacing: 1px
                    transition: all .2s

                .link:hover
                    color: $color-primary