header
    display: flex
    justify-content: start
    align-items: center
    background-color: rgb(1,1,10)
    height: 9vh

    h1
        margin-left: 2rem
        font-size: 2rem
        color: rgb(251, 152, 60)
        
        justify-content: center
        text-align: center
