$color-white: rgb(255,255,255)
$color-button: rgb(189, 19, 98)
$color-button-hover: rgb(144, 7, 71)
	
.containerTopPages
	display: flex
	align-items: center
	justify-content: space-between
	margin-top: 2rem
	margin-left: 14vw
	margin-right: 4rem
	
	h2
		font-weight: 500

	button
		display: flex
		align-items: center
		border: none
		padding: 0.5rem 1rem
		background-color: $color-button
		border-radius: 0.2rem
		transition: all .5s

		p
			color: $color-white
			font-size: 16px
		
		.iconAdd
			margin-right: 0.5rem
			color: $color-white
	
	button:hover
		background-color: $color-button-hover